<ion-modal-view>
    <ion-header-bar class="bar-assertive-900">
        <div class="buttons buttons-right header-item"><span class="right-buttons">
            <div class="pull-right">
                <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="right">
                </button>
            </div>

           </span></div>
        <div class="title"></div>
    </ion-header-bar>
    <ion-content ng-class="{expanded:$scope.isExpanded}">

        <div class ="item item-avatar item-icon-right">
            <img src = "img/burger-king.png">
            <h2>Burger King</h2>
            <p style = "color: #B71C1C "> 2 Days  ago </p>
            <i class = "icon ion-close-circled icon-color" ng-click="closeModal()"></i>
        </div>
        <img class="full-image" src = "img/burgergood.jpeg">
        <p>
            <br>

        <div class="pull-right" style="margin-right:20px;">
            <a class="tab-item assertive">
                <i class="icon icon-color ion-ios-checkmark-outline"></i>
            </a>
        </div>

        </p>
        <a href = "app.followers" class = "subdued" style="color: #B71C1C ">Following</a>


        </p>
        Hungry???  Get yourself a burger, easy you can get a burger for as little as 4 Tocoins..
        Visit us and stand a chance to win extra Tocoins.. Now that's great

        <p>

        </p><hr>


        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Comment on this..." >
                <div class="pull-right" style="margin-right:20px;">
                    <a class="tab-item assertive">
                        <i class="icon  ion-ios-arrow-right icon-color" menu-toggle="right"></i>
                    </a>
                </div>
            </label>
        </div>
        </div>
    </ion-content>


















