<ion-view view-title="Login" align-title="left" view-title="Registration">

    <ion-content style="background: url(img/gray.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon" style="margin-top: 100px"></div>
                <h1 style="font-family: monospace, serif">Coinnect</h1>
            </div>
        </div>

        <div class="list textTrans">
            <ion-md-input ng-model="username" placeholder="Email" highlight-color="assertive"
                          type="text"></ion-md-input>
            <ion-md-input ng-model="password" placeholder="password" highlight-color="assertive"
                          type="password"></ion-md-input>
        </div>
        <div class="padding">
            <!--ng-click="login(username, password)      ui-sref="app.profile""-->
            <button ng-click="login(username, password)"   class="button button-full button-assertive-900 ink textC">
                Login
            </button>

            <button ui-sref="app.registration" class="button button-full button-assertive-900 ink textC">Register
            </button>

        </div>
        <!--<ion-footer-bar style="background: transparent">-->
        <button class="button button-block button-clear">
            <div style="color: #B71C1C"> Forgot password</div>
        </button>
        <!--</ion-footer-bar>-->
    </ion-content>

</ion-view>
