<ion-view view-title="Age Tocoins" hide-back-button="true" ">
<ion-content ng-class="{expanded:$scope.isExpanded}" >
    <div class="list animate-fade-slide-in-right">

        <div class="card">
            <img class="full-image" src = "img/coin2.jpg">
            <div class="item item-text-wrap">
                Did you know that you can make up to 30% of your staking coins?
                start aging your Tocoins an earn your intered. Remember there more you Age your coins the more they gain interest.
            </div>
        </div>
        <label class="item item-input">
            <div class="input-label">
                Tocoins Ballance: T382.484
            </div>
        </label>

        <label class="item item-input item-floating-label ">
            <span class="input-label">age-tocoins</span>
            <input type="number" placeholder="Tocoins to Age:">
        </label>

        <label class="item item-input item-select">
            <div class="input-label">
                For what Period:
            </div><hr>
            <select>
                <option>3 Months</option>
                <option selected>8 Months</option>
                <option>18 Months</option>
                <option>more</option>
            </select>
        </label><hr>

        <div class="item animate-fade-slide-in-right">
            <button ng-click=""  class="button button-full icon-right ion-ios-arrow-right button-assertive-900 ink  ">
                Age Tocoins
            </button>
        </div>




    </div>
    </ion-view>
</ion-content>