<ion-modal-view>
<ion-view view-title="Blockchain" hide-back-button="true">
    <ion-header-bar align-title="center" class="bar-assertive">
        <div style="background-color: #f1f2f3"><h2 class="title" >Blockchain</h2></div>
    </ion-header-bar>



    <ion-content style="background: url(img/Lock.jpg) center; background-size: cover;">

        <label class="item item-input " scroll="true">
            <i class="icon  ion-android-search placeholder-icon icon-color" ></i>
            <input type="search" placeholder="Search By Date"  >
        </label>

        <div class="r">


            <table class="rwd-table ">
                <h3 align="center" style="color: white">Blockchain</h3>
                <tr>
                    <th>Transactions</th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Fee</th>
                    <th>Account</th>
                </tr>
                <tr>
                    <td data-th="Transactions">12/2/2222</td>
                    <td data-th="Type">Adventure, Sci-fi</td>
                    <td data-th="Amount">1977</td>
                    <td data-th="Fee">$460,935,665</td>
                    <td data-th="Account">$460,935,665</td>
                </tr>
                <tr>
                    <td data-th="Transactions">12/3/4444</td>
                    <td data-th="Type">Adventure, Sci-fi</td>
                    <td data-th="Amount">1977</td>
                    <td data-th="Fee">$460,935,665</td>
                    <td data-th="Account">$460,935,665</td>
                </tr>
                <tr>
                    <td data-th="Transactions">67/67/67</td>
                    <td data-th="Type">Adventure, Sci-fi</td>
                    <td data-th="Amount">1977</td>
                    <td data-th="Fee">$460,935,665</td>
                    <td data-th="Account">$460,935,665</td>
                </tr>

            </table><br>

        </div>




        </ion-view>
    </ion-content>








</ion-modal-view>