<ion-modal-view>

<ion-header-bar align-title="center" class="bar-assertive">
    <h2 class="title">Transactions</h2>
</ion-header-bar>

<ion-content style="background: url(img/Lock.jpg) center; background-size: cover;">


    <div class="r">

    <table class="rwd-table ">
        <h3 align="center" style="color: white">Sent Transactions</h3>
        <tr>
            <th>Date</th>
            <th>To whom</th>
            <th>Amount</th>
            <th>Balance</th>
        </tr>
        <tr>
            <td data-th="date">12/22/2222</td>
            <td data-th="whom">Adventure, Sci-fi</td>
            <td data-th="amount">1977</td>
            <td data-th="balance">$460,935,665</td>
        </tr>
        <tr>
            <td data-th="date">12/22/2222</td>
            <td data-th="whom">Adventure, Sci-fi</td>
            <td data-th="amount">1977</td>
            <td data-th="balance">$460,935,665</td>
        <tr>
            <td data-th="date">12/22/2222</td>
            <td data-th="whom">Adventure, Sci-fi</td>
            <td data-th="amount">1977</td>
            <td data-th="balance">$460,935,665</td>
        </tr>

    </table><br>

    </div>

<div>
    <h3 align="center" style="color: white">Received Transactions</h3>
    <table class="rwd-table">
        <tr>
            <th>Date</th>
            <th>From Whom</th>
            <th>Amount</th>
            <th>Balance</th>
        </tr>
        <tr>
            <td data-th="Date">23/5/5555</td>
            <td data-th="From">Adventure, Sci-fi</td>
            <td data-th="Amount">1977</td>
            <td data-th="Balance">$460,935,665</td>
        </tr>
        <tr>
            <td data-th="Date">23/5/5555</td>
            <td data-th="From">Adventure, Sci-fi</td>
            <td data-th="Amount">1977</td>
            <td data-th="Balance">$460,935,665</td>
        </tr>
        <tr>
            <td data-th="Date">23/5/5555</td>
            <td data-th="From">Adventure, Sci-fi</td>
            <td data-th="Amount">1977</td>
            <td data-th="Balance">$460,935,665</td>
        </tr>
        <tr>
            <td data-th="Date">23/5/5555</td>
            <td data-th="From">Adventure, Sci-fi</td>
            <td data-th="Amount">1977</td>
            <td data-th="Balance">$460,935,665</td>
        </tr>
    </table>

</div>








</ion-modal-view>