<ion-modal-view>
    <ion-header-bar align-title="center" class="bar-assertive"  style="background: transparent">
        <h2 class="title">Transfer</h2>
    </ion-header-bar>

    <ion-content style="background: url('') center; background-size: cover;">


       <!-- <div class="list textTrans animate-fade-slide-in-right">

            <ion-md-input placeholder="Pay To:"  type="integer" style="margin-right:20px;"></ion-md-input>
            <ion-md-input placeholder="Available for spending:" type="integer" style="margin-right:20px;"></ion-md-input>
            <ion-md-input placeholder="Amount to pay:" type="integer" style="margin-right:20px;"></ion-md-input>
        </div>-->


        <div class="list animate-fade-slide-in-right">

            <label class="item item-input " scroll="false">
                <i class="icon border-layout ion-android-search placeholder-icon icon-color" ></i>
                <input type="search" placeholder="Search" style="position:absolute">
            </label><hr>



            <label class="item item-input item-floating-label">
                <span class="input-label">Pay to?</span>
                <input type="number" placeholder="Pay to?">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Tocoins available for spending: T35.49</span>
                <div class="pull-right">

                </div>
                <input type="text" placeholder="Tocoins Available for spending: T35.49?">

            </label>


            <label class="item item-input item-floating-label "style="background: transparent" >
                <span class="input-label">Amounttopay:</span>
                <input type="number" placeholder="Amount to pay">
            </label>

            <div class="item animate-fade-slide-in-right">
                <button ng-click=""  class="button button-full button-assertive-900 ink  ">
                    Transfer Tocoins
                </button>
            </div>


        </div>


       <!-- <div class=" paddin ">
            <button ui-sref="app.pocket-reloaded" class="button button-full button-assertive-900 ink" >SEND</button>
            <button class="button button-full button-assertive-900 ink"  ng-click="go_back()" >CANCEL</button>
        </div>
    </ion-content>-->

    <ion-footer-bar   >

    </ion-footer-bar >

</ion-modal-view>






