<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-light">

        <h1 class="title">Timer</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide();stopTimer(true);">Cancel</button>



    </ion-header-bar>
    <ion-content class="padding">

        <!-- Here you have the timer itself with the progress and the time on the middle, notice the css addded to align it see style.css -->
        <div class="progress-wrapper">
            <div class="progress">
                {{timer}}
            </div>
            <div round-progress max="timeForTimer" current="timer" clockwise="false" color="#ef473a " rounded="true" class="text-center"></div>
        </div>
        <!-- Here you have the different states that the buttons take during the process -->
        <div class="item animate-fade-slide-in-right">
            <button  class="button button-outline button-balanced button-rounded button-block"  ng-click="takePicture()"   >
                Take Picture
            </button>
        </div>
        <button class="button button-outline button-balanced button-rounded button-block" ng-click="">Accept Request</button>
        <button class="button button-outline button-balanced button-rounded button-block" ng-click="selectTimer(5);startTimer();">Start Chore</button>

        <!-- Before starting -->

        <div ng-if="!started && !paused && !done">
            <div class="row">
                <div class="col">

                </div>
            </div>
        </div>
        <!-- Once it is running -->
        <div ng-if="started && !done">
            <div class="row">
                <div class="col">
                    <button class="button button-outline button-assertive-900 button-fab-top-right button-energized button-rounded button-block" ng-click='pauseTimer()'>
                        Pause
                    </button>
                </div>
                <div class="col">
                    <button class="button button-outline button-assertive button-rounded button-block" ng-click='stopTimer()'>
                        Reset
                    </button>
                </div>
            </div>
        </div>
        <!-- Once it is paused -->
        <div ng-if="!started && paused && !done">
            <div class="row">
                <div class="col">
                    <button class="button button-outline button-balanced button-rounded button-block" ng-click='startTimer()'>
                        Continue
                    </button>
                </div>
                <div class="col">
                    <button class="button button-outline button-assertive button-rounded button-block" ng-click='stopTimer()'>
                        Reset
                    </button>
                </div>
            </div>
        </div>
        <!-- When it has completed -->
        <div ng-if="done" class="text-center">
            <div class="row">
                <button class="button button-outline button-balanced button-rounded button-block" ng-click="modal.hide();stopTimer(true);">
                    Done
                </button>
            </div>
            <div class="text-center">
                <i class="ion-ribbon-b bigIcon" style="font-size: 40px;"></i>
                <br>
                <h2></h2>
            </div>
        </div>
    </ion-content>
</ion-modal-view>